<div class="container " >
  <div class="row">
    <div class="col " >
      <h2 class="mt-40" >lista de clientes</h2>
      <table class="table table-dark" >
        <thead>  
          <tr>
            <th>#</th>
            <th>nombre completo</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>correo</th>
            <th>fecha de nacimiento</th>
            <th>opcion</th>
          </tr>
        </thead>
        <tbody *ngFor="let cliente of clientes">
          <tr class="table-active">
            <td>{{cliente.idCliente}}</td>
            <td>{{cliente.nombreCompleto | uppercase }}</td>
            <td>{{cliente.direccion}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.correo}}</td>
            <td>{{cliente.fechaNacimiento | date: "d MMM, y":undefined :'es' }}</td>
            <td *ngIf="cliente.idCliente != null || cliente.idCliente !=0">
              <button class="btn btn-secondary mx-2">editar</button>
              <button class="btn btn-danger" (click)="eliminarCliente(cliente.idCliente)">eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>